.link{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.link:hover{
    color: #646464;
}

.link-component{
    text-decoration: none;
    color: #000;
}

.link-component:hover{
    color: #494949;
    cursor: pointer;
}
